Django==1.4.2
MySQL-python==1.2.4b5
PyYAML==3.10
South==0.7.6
amqp==1.0.8
anyjson==0.3.3
argh==0.23.1
billiard==2.7.3.20
celery==3.0.14
django-celery==3.0.11
djangorestframework==2.1.17
hiredis==0.1.1
httplib2==0.7.7
kombu==2.5.6
pathtools==0.1.2
python-dateutil==1.5
pytz==2012j
redis==2.7.2
watchdog==0.6.0
wsgiref==0.1.2
