<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{% block html_title %}GIVE{% endblock html_title %}</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/bootstrap-2.3.1.css" media="all" type="text/css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/bootstrap-responsive-2.3.1.css" media="all" type="text/css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/screen.css" media="all" type="text/css" />
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
	{% block javascript %}{% endblock javascript %}
</head>
<body>
	<div class="container">
	<header class="navbar">
		<nav class="navbar-inner">
			{% block header %}
				<a href="/" class="brand">rule.sine.com</a>
				<ul class="nav">
					{% block nav %}
						<li><a href="">rules</a></li>
						<li><a href="/claim-nicks/">claim nicks</a></li>
					{% endblock nav %}
						{% if user.is_authenticated %}
							<li><a>You suck, {{ user }}</a></li>
						{% else %}
							<li><a href="">log in</a></li>
						{% endif %}
				</ul>
			{% endblock header %}
		</nav>
	</header>
	<div id="content">
		{% block content %}{% endblock content %}
	</div>
	<footer class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
				{% block footer %}
					<li><a href="">rules</a></li>
					<li><a href="/claim-nicks/">claim nicks</a></li>
				{% endblock footer %}
			</ul>
		</div>
	</footer>
	</div>
</body>
</html>