{% extends "base.html" %}
{% block html_title %}Rule: {{ rule.name }}{% endblock html_title %}
{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/flot/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/flot/jquery.flot.time.js"></script>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/flot/jquery.flot.selection.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/rule.js"></script>
{% endblock javascript %}
{% block content %}
<div id="rule-meta" data-rule-id="{{ rule.id }}">
	<h2>Rule: {{ rule.name }}</h2>
	<p><strong>Rule regex: </strong>{{ rule.rule }}</p>
</div>
<div id="score-meta"></div>
<div id="score-plot"></div>
<div id="score-plot-nav"></div>
<ul class="unstyled" id="rule-scores"></ul>
{% endblock content %}